[Desktop Entry]
Version=5.3.0
Type=Application
Name=Anaconda Navigator
GenericName=Anaconda
Comment=Scientific PYthon Development EnviRonment - Python3
Exec=bash -c 'export PATH="/home/dodo/anaconda3/bin:$PATH" && /home/dodo/anaconda3/bin/anaconda-navigator'
Categories=Development;IDE;Qt;
Icon=/home/dodo/anaconda3/pkgs/anaconda-navigator*/lib/python3.*/site-packages/anaconda_navigator/static/images/anaconda-logo.svg
Terminal=false
StartupNotify=true
MimeType=text/x-python;